.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 1vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}


.App-footer{
  background-color: #282c34;
  min-height: 3vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(2px + 1vmin);
  color: white;
}

.App-content{
  background-color: #fff;
  min-height: 80vh;
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: center;
  font-size: calc(2px + 2vmin);
  color: #000;
}

.AddButton{
  float: right;
  bottom: 0;
  right: 0;
  position: absolute;
  margin-bottom: 3px;
  margin-right: 3px;
}

.TaskSection-taskList{
  background-color: #fff;
  width: 30vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: middle;
  font-size: calc(5px + 2vmin);
  color: #000;
}


.TaskSetSection-taskSetList{
  background-color: #fff;
  width: 30vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: middle;
  font-size: calc(5px + 2vmin);
  border-right: 2px #ccc solid;
  color: #000;
  height: 80vh;
}

.TaskPackSection-taskPackList{
  background-color: #fff;
  width: 30vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: middle;
  font-size: calc(5px + 2vmin);
  color: #000;
  border-right: 2px #ccc solid;
  height: 80vh;
}

.TaskSetSection-main{
  position: relative;
}

.TaskPackSection-main{
  position: relative;
}

.TaskSection-main{
  position: relative;
}