.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 1vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}


.App-footer{
  background-color: #282c34;
  min-height: 3vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(2px + 1vmin);
  color: white;
}

.App-content{
  background-color: #fff;
  min-height: 80vh;
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: center;
  font-size: calc(2px + 2vmin);
  color: #000;
}