
  .TaskButton-common{
    background: orange;
    width: 90%;
    height: 3vw;
    color: #000;
    border-radius: 10px;
    border-color: orange;
    font-size: calc(5px + 2vmin);
    padding: 7px 0px 7px 0px;
  }


  .TaskPackButton-common{
    background: cyan;
    width: 90%;
    height: 3vw;
    color: #000;
    border-radius: 10px;
    border-color: cyan;
    font-size: calc(5px + 2vmin);
    padding: 7px 0px 7px 0px;
  }

  .TaskSetButton-common{
    background:magenta;
    width: 90%;
    height: 3vw;
    color: #000;
    border-radius: 10px;
    border-color: magenta;
    font-size: calc(5px + 2vmin);
    padding: 7px 0px 7px 0px;
  }

  .Button-common{
    margin: 5px;
  }
